@{
    ViewData["Title"] = "Create Department";
}

@model EmployeeDepartmentCRUDApp.Models.Department

<div class="container-fluid">
    <div class="row align-items-center mb-3">
        <div class="col-md-6">
            <h2 class="text-danger">Create Department</h2>
        </div>
    </div>
    <hr />
</div>

<div class="row">
    <div class="col-md-8 col-lg-6">
        <form asp-action="Create" method="post" class="needs-validation" novalidate>
            <div class="mb-3">
                <label asp-for="DepartmentName" class="form-label"></label>
                <input type="text" asp-for="DepartmentName" class="form-control" />
                <span asp-validation-for="DepartmentName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="OrganizationId" class="form-label"></label>
                <select asp-for="OrganizationId" asp-items="ViewBag.Organizations" class="form-select">
                    <option value="">Select Organization</option>
                </select>
                <span asp-validation-for="OrganizationId" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success btn-sm">Save</button>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
