@{
    ViewData["Title"] = "Delete Department";
}
@model EmployeeDepartmentCRUDApp.Models.Department
<h2 class="alert-info text-center text-danger">Delete Department</h2>

<div>
    <h4>Are you sure you want to delete these department?</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">Id</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">Department Name</dt>
        <dd class="col-sm-10">@Model.DepartmentName</dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-controller="Department" asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>