<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmployeeDepartmentCRUDApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EmployeeDepartmentCRUDApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>
<body>
    <body class="d-flex flex-column min-vh-100">

        <div class="container-fluid flex-grow-1">
            <div class="row min-vh-100">

                <!-- Sidebar -->
                <nav class="col-md-3 col-lg-2 d-md-block bg-dark text-white sidebar collapse">
                    <div class="position-sticky pt-3">
                        <h5 class="px-3 py-2">Karma Solutions</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Dashboard" asp-action="Index">
                                    <i class="bi bi-building me-2"></i>
                                    Dashboard
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Organization" asp-action="Index">
                                    <i class="bi bi-building me-2"></i>
                                    Organization
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Department" asp-action="Index">
                                    <i class="bi bi-diagram-3 me-2"></i>
                                    Department
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Employee" asp-action="Index">
                                    <i class="bi bi-people me-2"></i>
                                    Employee
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="hrDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-person-workspace me-2"></i>
                                    HR
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="hrDropdown">
                                    <li>
                                        <a class="dropdown-item" asp-controller="Attendance" asp-action="Index">Attendance</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Leave" asp-action="Index">Leave</a>
                                    </li>
                                   @* <li>
                                        <a class="dropdown-item" asp-controller="Performance" asp-action="Index">Performance</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Training" asp-action="Index">Training</a>
                                    </li>*@
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Payroll" asp-action="Index">
                                    <i class="bi bi-receipt me-2"></i>
                                    Payroll
                                </a>
                            </li>
                           
                        </ul>
                    </div>
                </nav>

                <!-- Main Content -->
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-4 bg-light d-flex flex-column">
                    <div class="flex-grow-1">
                        @RenderBody()
                    </div>

                    <footer class="pt-5 mt-5 border-top">
                        <p class="text-muted">&copy; 2025 - EmployeeDepartmentCRUDApp</p>
                    </footer>
                </main>

            </div>
        </div>

    </body>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
