@{
    ViewData["Title"] = "Edit Attendance";
}

@model EmployeeDepartmentCRUDApp.Models.Attendance

<h2 class="alert-info text-center text-danger">Edit Attendance</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="EmployeeId" class="form-label"></label>
        <select asp-for="EmployeeId" asp-items="ViewBag.Employees" class="form-select">
            <option value="">Select Employee</option>
        </select>
        <span asp-validation-for="EmployeeId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Date" class="form-label"></label>
        <input type="date" asp-for="Date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CheckInTime" class="form-label"></label>
        <input type="time" asp-for="CheckInTime" class="form-control" />
        <span asp-validation-for="CheckInTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CheckOutTime" class="form-label"></label>
        <input type="time" asp-for="CheckOutTime" class="form-control" />
        <span asp-validation-for="CheckOutTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Status" class="form-label"></label>
        <select asp-for="Status" asp-items="ViewBag.Status" class="form-select">
            <option value="">Select Status</option>
        </select>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-success btn-sm">Save</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
