@{
    ViewData["Title"] = "Roles List";
}
@model IEnumerable<EmployeeDepartmentCRUDApp.Models.Role>

<div class="container-fluid">
    <div class="row align-items-center mb-3">
        <div class="col-md-6">
            <h2 class="text-danger">Roles List</h2>
        </div>
        <div class="col-md-6 text-md-end mt-2 mt-md-0">
            <a class="btn btn-primary btn-sm me-2" asp-controller="Role" asp-action="Create">
                <i class="bi bi-plus-circle"></i> Create Role
            </a>
            <a class="btn btn-info btn-sm" asp-controller="Role" asp-action="Export">
                <i class="bi bi-download"></i> Export
            </a>
        </div>
    </div>
    <hr />
</div>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">Sr.No</th>
                <th scope="col">Role Name</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Select((entry, index) => new { entry, index }))
            {
                <tr>
                    <td>@(user.index + 1)</td>
                    <td>@user.entry.Name</td>
                    <td>
                        <a class="btn btn-warning btn-sm mx-2" asp-controller="Role" asp-action="Edit" asp-route-id="@user.entry.Id">Edit</a>
                        <a class="btn btn-danger btn-sm" asp-controller="Role" asp-action="Delete" asp-route-id="@user.entry.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>